body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#87CEEB;
    overflow:hidden;
}

.player{
    width:16px;
    height:16px;

    background-image: url("../sprites/imag.png");
    background-repeat:no-repeat;

    image-rendering: pixelated;

    transform:scale(6);

    position:absolute;

    background-position-y:0px;
}

.walk{
    animation: walk 0.5s steps(4) infinite;
}

@keyframes walk{
    from{
        background-position-x:0px;
    }

    to{
        background-position-x:-64px;
    }
}